body{
    background-image: url("https://picsum.photos/1920/1080") ;
    background-repeat: no-repeat;
    background-size: auto; 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}